*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

html{
  scroll-behavior:smooth; /* faz um scroll com animação quando se clica no menu */
}

body {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;

  margin: 0px;
  padding: 0px;
}

p{
  text-align: justify;
}


#vietname-titulo{
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:70px;
}

#vietname-subtitulo{
  text-align:center;  /* alinha o texto ao meio */
  padding:10px; /* alarga a caixa em 10 pixeis nas 4 direções */  
  width:fit-content; /* encolhe a caixa para o tamanho do seu conteúdo */
  margin:auto; /* útil para centrar a caixa */
}



.altura0{
  margin:0px;
  padding:0px;
  height:0px;
  /* evita o menu sticky tapar o alvo quando clicamos em âncoras (#intro, etc.) */
  scroll-margin-top: 60px;
}

.baixo50px{
  padding-bottom:50px;
}

.meio{
  text-align:center;
}

.topo{
  margin:0px;
  background-image: url(../img/vietname-topo.jpg);
  background-size:cover;
  padding-top:100px;
  padding-bottom:200px;
}

#principal{
  padding:20px;
  background-image:url(../img/f1.jpg);
  background-size: cover;
  padding-bottom:40px;
}


h2{
  font-size:50px;
}

h3{
  text-align:center;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333333;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item.active {
  background-color: rgb(77, 176, 80);
}

.bloco{
  display:block;
  clear: both;
  width:100%;
  padding-top:20px;
}

.bloco50esq{
  float:left;
  width:50%;
  padding-right:10px;
}

.bloco50dir{
  float:right;
  width:50%;
  padding-left:10px;
}

.bloco30esq{
  float:left;
  width:30%;
  padding-right:10px;
}

.bloco40meio{
  float:left;
  width:40%;
  padding-left:10px;
  padding-right:10px;
}

.bloco30dir{
  float:right;
  width:30%;
  padding-left:10px;
}

.im_altura150{
  width:100%;
  height:150px;
  object-fit:cover;
}

.fim0{
  width:100%;
  height:0px;
  clear:both;
}


/*------------ MEDIA QUERIES ---------------*/

@media (max-width: 1100px) {

  #vietname-subtitulo{
    background-color:rgba(77, 176, 80, 0.6);  /* cor de fundo com transparenência de 0.6 */
    border-radius: 10px 0px 10px 0px;  /* arredondamento dos 4 cantos */
  }

  #principal {
    background-image: url(../img/f3.jpg);

    /* tornar a imagem de fundo mais clara */
    background-color: rgba(255, 255, 255, 0.6);  /* 0.6 é a força da cor branca */
    background-blend-mode:color;
    /* fim de tornar a imagem de fundo mais clara */ 
  }

}


@media (max-width:1000px) {

  .bloco30esq,.bloco30dir,.bloco40meio{
    width:100%;
    padding-left:0px;
    padding-right:0px;
  }

  .bloco30esq,.bloco40meio{
    padding-bottom:20px;
  }

}


@media (max-width:800px) {

  .bloco50esq,.bloco50dir{
    width:100%;
    padding-left:0px;
    padding-right:0px;
  }

  .bloco50esq{
    padding-bottom:20px;
  }

}




/*---------- FIM DE MEDIA QUERIES ------------*/